<table class="table">
  <tbody >
  <div class="border border-primary">
      <tr>
        <th>Name</th>
        <td><%= employee.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= employee.email %></td>
      </tr>
      <tr>
        <th>Department</th>
        <td><%= employee.department %></td>
      </tr>
    </div>
  </tbody>
</table>
